.root {
    display: flex;
    height: 74.5vh;
    background-color: whitesmoke;
    background-image: linear-gradient(to top, #999999, whitesmoke);
}

.image {
    background-image: url('../assets/Harry.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.formContainer {
    background-color: whitesmoke;
    background-image: linear-gradient(to right, #999999, whitesmoke);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    padding: 24px;
    width: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
  
.textField {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;    
}

.textField label.Mui-focused {
    color: black;
}
  
.textField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black;
}

.signUpButton {
    margin-top: 40px;
    width: 100%;
    background-color: #242424;  
    color: #fff;  
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
}

.signUpButton:hover {
    transition: all 0.3s ease-out;
    background-color: black;
}

.signUpLabel {
    font-family: "Sinhala";
    font-weight: 600;
    display: inline-block;
}